USER_ID=your-user-id-here # UUID of the null user you are inserting transactions for
API_KEY=your-api-key-here # internal api key
NULL_CORE_URL=your-null-core-url.com:443 # the port is important
PDF_PATH=input # optional: path to pdf files to process, defaults to `input`
